<div id="posts-container" class="container-fluid container-posts">

  <div class="row">
    <!--middle container-->
    <div class="col-md-8">
      <div class="card-post" style="margin-top:16px;">
        <h2>About</h2>
        <ul class="profile-data">
          <li><b>Username:</b> User</li>
          <li><b>Fullname:</b> Asaad Saad</li>
          <li><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        </ul>
      </div>

      <div id="todo-form" class="row" style="padding:15px;">
        <div class="col-xs-8 col-sm-offset-2 text-center" style="margin-bottom: 20px;">
          <form [formGroup]="postCreateForm" (ngSubmit)="onSubmit(postCreateForm.value)">
            <div class="form-group">
              <div class="input-group">
							<textarea formControlName="content"  rows="4" cols="500" class="form-control input-lg"
                        placeholder="What is on your mind?"></textarea>
                <button type="submit" class="input-group-addon btn btn-add btn-lg textarea-addon">Post</button>
              </div>
            </div>
            <!--<button type="submit" class="btn btn-add btn-lg" ng-click="addPost()">Post</button>-->
          </form>
        </div>
      </div>

      <div class="card-post" *ngFor="let post of posts">
        <div class="row">
          <div class="col-xs-3 col-sm-2 text-center">
            <a href="#" title="Profile">
              <img *ngIf="post.createdUser.user.gender ==='female'" src="../../../assets/images/avatar/female.jpg" alt="User name"
                   class="rounded-circle img-user" />
              <img *ngIf="post.createdUser.user.gender ==='male'" src="../../../assets/images/avatar/male.png" alt="User name"
                   class="rounded-circle img-user" />
            </a>
            <h3 style="margin-top:10px;"><a href="#" title="Profile">{{post.createdUser.user.userName}}</a></h3>
            <p><i>{{post.createdDate | timeAgo}}</i></p>
          </div>
          <div class="col-sm-9 col-sm-offset-1 data-post">
            <!--<div class="col-sm-8 col-sm-offset-1 data-post">-->
            <p>{{post.content}}</p>
            <div class="reaction">
              <span (click)="likePost(post._id)" style="cursor: pointer" class="like-icon"><i class="fas fa-thumbs-up"></i></span> {{post.likes.length}}
              <!--<span style="cursor: pointer" class="dislike-icon" data-ng-click="dislikePost(post)"><i class="fas fa-thumbs-down"></i></span> {{post.dislikesCount}}-->
            </div>
            <div class="comments">
              <!--<div class="more-comments">View more comments</div>-->
              <ul>
                <li *ngFor="let comment of post.comments">
                  <b>{{comment.user.userName}}: </b> {{comment.comment}}
                </li>
              </ul>
              <form [formGroup]="commentForm">
                <input formControlName="comment" type="text" class="form-control" placeholder="Add a comment" (keyup.enter)="addComment(post._id)">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--right sidebar-->
    <div class="col-lg-4 col-md-6 col-sm-8" >
      <app-rightside></app-rightside>
    </div>
  </div>

  <!--Close #posts-container-->
  <div id="loading" style="display: none;">
    <img src="./images/load.gif" alt="loader">
  </div>
</div>
