<div id="posts-container" class="container-fluid container-posts">

  <div class="row">
    <!--middle container-->
    <div class="col-md-8">
      <div *ngIf="profile" class="card-post" style="margin-top:16px;border-bottom: 4px solid #1DA1F2">
        <div class="row">
          <div class="col-xs-2 col-sm-2">
            <img *ngIf="profile.gender ==='female'" src="../../../assets/images/avatar/female.jpg" alt="User name"
                 class="rounded-circle img-user"/>
            <img *ngIf="profile.gender ==='male'" src="../../../assets/images/avatar/male.png" alt="User name"
                 class="rounded-circle img-user"/>
          </div>
          <div class="col-xs-9 col-sm-9">
            <ul class="profile-data">
              <li><b>Username:</b> {{profile.userName}}</li>
              <li><b>Fullname:</b> {{profile.firstName}} {{profile.lastName}}</li>
              <li><b>Joined:</b> {{profile.createdDate | timeAgo}}
              </li>
            </ul>
            <div *ngIf="userId !== user._id">
              <button (click)="followUser(profile._id)" style="margin-left:5px;" class="btn btn-small btn-sm">Follow</button>
              <button (click)="unfollowUser(profile._id)" style="margin-left:10px;" class="btn btn-small btn-sm">Unfollow</button>
            </div>
          </div>
        </div>
      </div>

      <!--<div style="border-bottom: 4px solid #1DA1F2;margin-bottom: 10px;">-->

      <!--</div>-->

      <div *ngIf="userId === user._id" id="todo-form" class="row" style="padding:15px;">
        <div class="col-xs-8 col-sm-offset-2 text-center" style="margin-bottom: 20px;">
          <form [formGroup]="postCreateForm" (ngSubmit)="onSubmit(postCreateForm.value)">
            <div class="form-group">
              <div class="input-group">
							<textarea formControlName="content"  rows="4" cols="500" class="form-control input-lg"
                        placeholder="What is on your mind?"></textarea>
                <button type="submit" class="input-group-addon btn btn-add btn-lg textarea-addon">Post</button>
              </div>
            </div>
            <!--<button type="submit" class="btn btn-add btn-lg" ng-click="addPost()">Post</button>-->
          </form>
        </div>
      </div>

      <div class="card-post" *ngFor="let post of posts">
        <div class="row">
          <div class="col-xs-3 col-sm-2 text-center">
            <a href="#" title="Profile">
              <img *ngIf="post.createdUser.user.gender ==='female'" src="{{post.createdUser.user.picture}}" alt="User name"
                   class="rounded-circle img-user" />
              <img *ngIf="post.createdUser.user.gender ==='male'" src="{{post.createdUser.user.picture}}" alt="User name"
                   class="rounded-circle img-user" />
            </a>
            <h3 style="margin-top:10px;"><a href="#" title="Profile">{{post.createdUser.user.userName}}</a></h3>
            <p><i>{{post.createdDate | timeAgo}}</i></p>
          </div>
          <div class="col-sm-9 col-sm-offset-1 data-post">
            <!--<div class="col-sm-8 col-sm-offset-1 data-post">-->
            <p>{{post.content}}</p>
            <div class="reaction">
              <span (click)="likePost(post._id)" style="cursor: pointer" class="like-icon"><i class="fas fa-thumbs-up"></i></span> {{post.likes.length}}
              <!--<span style="cursor: pointer" class="dislike-icon" data-ng-click="dislikePost(post)"><i class="fas fa-thumbs-down"></i></span> {{post.dislikesCount}}-->
            </div>
            <div class="comments">
              <!--<div class="more-comments">View more comments</div>-->
              <ul>
                <li *ngFor="let comment of post.comments">
                  <b>{{comment.user.userName}}: </b> {{comment.comment}}
                </li>
              </ul>
              <form [formGroup]="commentForm">
                <input formControlName="comment" type="text" class="form-control" placeholder="Add a comment" (keyup.enter)="addComment(post._id)">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--right sidebar-->
    <div *ngIf="profile" class="col-lg-4 col-md-6 col-sm-8" >
      <!--<app-rightside></app-rightside>-->
        <div class="profiles">
          <h2>Following list</h2>
          <div class="profile-block" *ngFor="let user of profile.following">
            <div class="row">
              <div class="col-md-4 text-center">
                <a href="#" title="Profile">
                  <img *ngIf="user.gender === 'male'" src="{{user.picture}}" alt="User name"
                       class="rounded-circle img-user">
                  <img *ngIf="user.gender === 'female'" src="{{user.picture}}" alt="User name"
                       class="rounded-circle img-user">
                </a>
              </div>
              <div class="col-md-8">
                <h3 style="margin-top:10px;font-size:12px;margin-bottom:10px;"><a  [routerLink]="['/profile', user._id._id]" title="Profile">{{user._id.firstName}} {{user._id.lastName}}</a></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="profiles">
          <h2>Follower list</h2>
          <div class="profile-block" *ngFor="let follower of profile.followers">
            <div class="row">
              <div class="col-md-4 text-center">
                <a href="#" title="Profile">
                  <img *ngIf="user.gender === 'male'" src="../../../images/avatars/male.png" alt="User name"
                       class="rounded-circle img-user">
                  <img *ngIf="user.gender === 'female'" src="../../../images/avatars/female.jpg" alt="User name"
                       class="rounded-circle img-user">
                </a>
              </div>
              <div class="col-md-8">
                <h3 style="margin-top:10px;font-size:12px;margin-bottom:10px;"><a [routerLink]="['/profile', follower._id._id]" title="Profile">{{follower._id.firstName}} {{follower._id.lastName}}</a></h3>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!--Close #posts-container-->
  <div id="loading" style="display: none;">
    <img src="./images/load.gif" alt="loader">
  </div>
</div>
