<header class="text-right">
  <form class="text-left search" method="GET">
    <input name="q" type="text" placeholder="Search..">
  </form>
  <div class="menu-icon">
    <div class="dropdown">
      <span style="cursor: pointer"
            role="button" id="dropdownSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span (click)="logout()" class="hidden-xs hidden-sm">Logout</span> <i class="fas fa-sign-out-alt"></i>
      </span>
    </div>
  </div>
  <div class="second-icon menu-icon">
    <span><a [routerLink]="['profile']" title="Profile"><span class="hidden-xs hidden-sm">Profile</span> <i class="fa fa-user" aria-hidden="true"></i></a>
    </span>
  </div>
  <div class="second-icon menu-icon">
    <span><a [routerLink]="['']" title="Wall"><span class="hidden-xs hidden-sm">Wall</span> <i class="fa fa-database" aria-hidden="true"></i></a>
    </span>
  </div>
</header>

<div>
  <!--Left Sidebar with info Profile -->
  <div class="sidebar-nav">
    <a href="#" title="Profile">
      <img src="../../../assets/images/avatar/female.jpg" alt="User name" class="rounded-circle img-user">
    </a>
    <h2 class="text-center hidden-xs profile-name"><a href="#" title="Profile">{{user.firstName}} {{user.lastName}}</a></h2>
    <p class="text-center user-description hidden-xs">
      <i></i>
    </p>
  </div>
</div>
